body {
  background-color: rgb(228, 228, 228);
  font-family: "Snell Roundhand, cursive";
  font-size: 16px;
}

footer {
  z-index: 1;
  font-size: 0.8rem;
}

h1 {
  font-size: 2.5rem;
}

p {
  font-size: 1rem;
}

.icon {
  color: black;
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
  transition: background-color .2s;
  transition: color .2s;
}

.icon:hover {
  color: #E4E4E4;
  transition: background-color .2s;
  transition: color .2s;
}

.parallax-1 {
  background-image: url("../images/banner.jpg");
  height: 700px;
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: black;
}

.parallax-2 {
  background-image: url("../images/banner2.png");
  height: 500px;
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: black;
}

.parallax-3 {
  background-image: url("../images/banner3.png");
  height: 700px;
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: black;
}

.parallax-4 {
  background-image: url("../images/banner4.png");
  height: 500px;
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: black;
}

.parallax-5 {
  background-image: url("../images/banner5.png");
  height: 500px;
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: black;
}

.gradient-top {
  z-index: 2;
  height: 100%;
  background: linear-gradient(0deg, rgba(228, 228, 228, 1) 0%, rgba(228, 228, 228, 0) 10%, rgba(228, 228, 228, 0) 100%);
}

.gradient-middle {
  z-index: 2;
  height: 100%;
  background: linear-gradient(0deg, rgba(228, 228, 228, 1) 0%, rgba(228, 228, 228, 0) 10%, rgba(228, 228, 228, 0) 90%, rgba(228, 228, 228, 1) 100%);
}

.sidenav {
    border-right: 1px solid;
    border-color: black;
    height: 100%;
    width: 10%;
    min-width: 150px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
}

.upper {
  border-bottom: 1px solid;
  border-color: black;
}

.main {
    margin-left: 10%; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
}
